<h2>Celeb-<%= @client.name %></h2>
<h3>"<%= @client.notes %>"</h3>

   <% @client.appointments.each do |appt| %>
    <ul>
    <li>When: <%= appt.appointment_datetime.strftime("%B %e, %Y at %l:%M %p") %></li>
    <li>Service: <%= appt.service %></li>
    <li>Stylist: <%= appt.stylist.username %></li>
    </ul>
    <% end %>

