<%= @errors %>

<%= form_for @stylist do |f| %>

    <h3><%=f.label :username %></h3>
    <%=f.text_field :username %>
    <h3><%=f.label :password %></h3>
    <%=f.password_field :password %>

    <%= f.submit "Create Profile" %>

<% end %>