<div class = "box">
<h2>New Appointment</h2>
<%= form_for @appointment do |f| %>
 
  <h3><%= f.label "When" %></h3>
  <%= f.datetime_local_field :appointment_datetime %>  
  
  <h3><%= f.label "Service" %></h3>
  <%= f.collection_select(:service_id, Service.all, :id, :name, {:include_blank => 'Select Service'}) %>
    <h5>OR</h5>
  
  <h3>New Service</h3>

    <%= f.fields_for :service, @appointment.build_service do |s| %>
      <%= s.label :name %>
      <%= s.text_field :name %>
    <% end %><br>


  <h3><%= f.label "Stylist" %></h3>
  
  
  <%= f.collection_select(:stylist_id, Stylist.all, :id, :username, {:include_blank => 'Select Stylist'}) %>
  
  <h3>Existing Client</h3>
  <%= f.collection_select(:client_id, Client.all, :id, :name, {:include_blank => 'Existing Client'}) %>
    <h5>OR</h5>
  <h3>New Client</h3>

    <%=f.fields_for :client, @appointment.build_client do |c| %>
      <%= c.label :name %>
      <%= c.text_field :name %><br>
      <%= c.label :notes %>
      <%= c.text_field :notes %>
    <% end %>

 <p><%= f.submit %></p>
<% end %>
</div>