<div class = "box">
<h3 style="color:Red;"><%= flash[:message] %></h3>
<h1>Appointments:</h1>
    
        <% @appointments.each do |appt| %>
        
            <p>When: <%= strftime appt %></p>
            <p>Client: <%= appt.client.name %></p>
            <p>Stylist: <%= appt.stylist.username %></p>
            <p>Service: <%= appt.service.name %></p>
           
            <p><%=link_to "More", appointment_path(appt) %></p>
        
       
        <% end %>
<br>
 <%= link_to "Create New Appointment", new_appointment_path %>

 </div>


