<h1>Appointments:</h1>
    
        <% @appointments.each do |appt| %>
        <ul>
            <li>When: <%= strftime appt %></li>
            <li>Client: <%= appt.client.name %></li>
            <li>Stylist: <%= appt.stylist.username %></li>
            <li>Service: <%= appt.service.name %></li>
            <li>Notes: <%= appt.client.notes %></li>
            <li><%=link_to "More", appointment_path(appt) %></li>
        </ul>
       
        <% end %>
<br>
 <%= link_to "Create New Appointment", new_appointment_path %>


