<h2><%= flash[:message] %></h2>
<h2 style="color:Red;"><%= flash[:unauthorized] %></h2>

<div class = "box">

<%= link_to "Create New Appointment", new_appointment_path %><br>
<%= link_to "Most and Least Requested Service", most_requested_path %>

<h1>Appointments</h1>
    
        <% if @appointments.count == 0 %>

            <h2 style="color:red;">You have no appointments</h2>
        
        <% else %>

            <% @appointments.each do |appt| %>

                <p>Stylist: <%= appt.stylist.username %></p>
                <p>When: <%= strftime appt %></p>
                <p>Client: <%= appt.client.name %></p>
                <p>Service: <%= appt.service.name %></p>
           
                <p><%=link_to "More", appointment_path(appt) %></p>
        <%end%>
       
<% end %>

 </div>


