<!DOCTYPE html>
<html>
  <head>
    <title>InstaStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if !logged_in? %>
    <%= link_to "Join Now", signup_path %>
    <%= link_to "Already a Member", login_path %>
    <%= button_to "Log in with Google", '/auth/google_oauth2' %>
  <% end %>
  
  <% if logged_in? %>
    <%= link_to "#{current_user.username}'s Home Page", stylist_path(current_user) %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% end %>
  
  </head>

  <body>
 
    <%= yield %>
  </body>

  <div class = "center">

    <% if logged_in? %>
      <%= link_to "Stylists", stylists_path %>
      <%= link_to "All Appointments", appointments_path %>
      <%= link_to "Clients", clients_path %>
    <% end %>  

  </div>
  
</html>
